openai
transformers
llama-index
faiss-cpu
chromadb
weaviate-client
langchain
langchain-google-genai
langgraph
pypdf
sentence-transformers

duckduckgo-search
requests
serpapi
























